<ion-header>
  <ion-toolbar>
    <ion-img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/aa/Logo_DuocUC.svg/2560px-Logo_DuocUC.svg.png"></ion-img>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
  <ion-card>
    <h1>Duoc UC</h1>
    <p>Sistema de asistencia</p>
  </ion-card>
  <br>
    <ion-card>
      <br>
        <ion-card-title class="card-title">
          <ion-icon name="happy-outline"></ion-icon> FELICIDADES <ion-icon name="happy-outline"></ion-icon>
        </ion-card-title>
        <img src="https://media.tenor.com/0Bikn27HvsQAAAAi/happy-dance.gif" width="220px" height="220px">
    </ion-card>
  

</ion-content>

<ion-footer>
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/login']">Iniciar Sesión</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer> 
