  <ion-header>
    <ion-toolbar>
      <ion-img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/aa/Logo_DuocUC.svg/2560px-Logo_DuocUC.svg.png"></ion-img>
    </ion-toolbar>
  </ion-header>

  <ion-content>

<div>  
  <ion-card>
    
        <ion-card-title class="ion-text-center">
          <ion-label>
            <h2>{{ usuario.preguntaSecreta }}</h2>
          </ion-label>
        </ion-card-title>
        
    
        <ion-card-content>
          <ion-item>
            <ion-label position="floating">Respuesta</ion-label>
            
            <ion-input type="text" [(ngModel)]="respuesta" placeholder="Ingresa tu respuesta"></ion-input>
          </ion-item>
          <br><br>
      <ion-button shape="block" (click)="validarRespuestaSecreta()">Recuperar contraseña</ion-button>
        </ion-card-content>
      </ion-card>
    </div>
    </ion-content>
  
    <ion-footer>
      <ion-toolbar color="primary">
        <ion-buttons slot="end">
          <ion-button [routerLink]="['/correo']">Volver</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-footer> 