
ion-img{
    width: 100px; 
    height: 100px;
    margin-left: 20px;
}

.container {
    background-image: url('https://th.bing.com/th/id/R.bb7450e3c956d2111e8dd804fe9fb4fe?rik=0OgRvgOi90S98A&riu=http%3a%2f%2frrnn.duoc.cl%2fsites%2fdefault%2ffiles%2fsede_padre_alonso.jpg&ehk=rtDBT%2fKcs%2fE7o9CkEB9PBJWJHkO%2fMo5FJWep64V6P7I%3d&risl=&pid=ImgRaw&r=0&sres=1&sresct=1'); 
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  

  ion-content {
    --padding-top: 20px;
    --padding-bottom: 20px;
    --padding-end: 20px;
    --padding-start: 20px;
    --background: transparent url('https://www.duoc.cl/wp-content/uploads/2020/05/header-sede-plaza-oeste.png') no-repeat center center / cover;
  }

  
  ion-header {
    ion-toolbar {
      --background: #ffffff; /* Color de fondo del header */
    }

  }
  
  ion-content {
    --background: #f8f8f8; /* Color de fondo del contenido */
    padding: 20px;
    --background: transparent url('https://www.duoc.cl/wp-content/uploads/2020/05/header-sede-plaza-oeste.png') no-repeat center center / cover;

  }
  
  ion-card {
    max-width: 500px; /* Ancho máximo del card */
    margin: 0 auto; /* Centra el card */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  ion-card-title {
    ion-label {
      font-size: 1.5em; /* Tamaño del texto */
    }
  }
  
  ion-card-content {
    ion-item {
      --padding-end: 0; /* Elimina el padding al final del item */
      ion-input {
        max-width: 100%;
      }
    }
  
    ion-button {
      margin-top: 20px; /* Espacio entre el input y el botón */
    }
  }
  
  ion-footer {
    ion-toolbar {
      --background: #ffffff; /* Color de fondo del footer */
    }
  }
  