
<ion-header>
  <ion-toolbar>
    <ion-img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/aa/Logo_DuocUC.svg/2560px-Logo_DuocUC.svg.png"></ion-img>
  </ion-toolbar>
</ion-header>

<br>
  <div class="sliding-text-container">
    <div class="sliding-text">Escanea tu codigo QR</div>
  </div>
<br>
<ion-content>

  <input #fileinput hidden id="input-file" type="file" accept="image/*;capture=camera" 
    (change)="verificarArchivoConQR($event.target.files)" />

  <ion-button (click)="cargarImagenDesdeArchivo()" expand="full" shape="round">
    <ion-icon slot="start" name="camera"></ion-icon>
    Cargar Imagen con Código QR
  </ion-button>

  <ion-button *ngIf="!escaneando" (click)="comenzarEscaneoQR()" expand="full" shape="round">
    <ion-icon slot="start" name="videocam-outline"></ion-icon>
    Comenzar Escaneo de QR
  </ion-button>

  <ion-button *ngIf="escaneando" (click)="detenerEscaneoQR()" expand="full" shape="round">
    <ion-icon slot="start" name="stop-circle-outline"></ion-icon>
    Detener escaneo de QR
  </ion-button>

  <ion-button (click)="limpiarDatos()" expand="block" expand="full" shape="round">
    <ion-icon slot="start" name="trash-outline"></ion-icon>
    Limpiar datos
  </ion-button>

  <video #video [hidden]="!escaneando" width="100%"></video>
  <canvas #canvas hidden></canvas>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Código QR</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <br>
      
      <table class="tabla-qr">
        <tr>
          <td class="ancho_columna_titulos">Bloque de Inicio</td>
          <td>{{bloqueInicio}}</td>
        </tr>
        <tr>
          <td>Bloque de Término</td>
          <td>{{bloqueTermino}}</td>
        </tr>
        <tr>
          <td>Día</td>
          <td>{{dia}}</td>
        </tr>
        <tr>
          <td>Hora de Fin</td>
          <td>{{horaFin}}</td>
        </tr>
        <tr>
          <td>Hora de Inicio</td>
          <td>{{horaInicio}}</td>
        </tr>
        <tr>
          <td>Sigla</td>
          <td>{{idAsignatura}}</td>
        </tr>
        <tr>
          <td>Nombre de Asignatura</td>
          <td>{{nombreAsignatura}}</td>
        </tr>
        <tr>
          <td>Nombre del Profesor</td>
          <td>{{nombreProfesor}}</td>
        </tr>
        <tr>
          <td>Sección</td>
          <td>{{seccion}}</td>
        </tr>
        <tr>
          <td>Sede</td>
          <td>{{sede}}</td>
        </tr>
      </table>

      <br><br>
      Escaneando: {{ escaneando }}
      <br>
    </ion-card-content>
  </ion-card>
</ion-content>
<ion-footer>
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/login']">Cerrar Sesión</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>

