<!-- <ion-header>
  <ion-toolbar>
    <ion-img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/aa/Logo_DuocUC.svg/2560px-Logo_DuocUC.svg.png"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="ion-padding-vertical">
  <ion-card class="ion-text-center ion-padding-vertical">

    <ion-card-title class="ion-text-center">
      <ion-label>
        <h2>¡Ingrese su correo!</h2>
      </ion-label>
    </ion-card-title>

    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Usuario</ion-label>
        
          <ion-card-subtitle></ion-card-subtitle>
          <ion-input type="text" [(ngModel)]="correo" placeholder="Ingresa tu correo"></ion-input>
          <a (click)="ingresarPaginaValidarRespuestaSecreta()">Recuperar contraseña</a>
        
      </ion-item>
    </ion-card-content>
  </ion-card>
</div>
</ion-content>

<ion-footer>
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/login']">Volver</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer> -->

<ion-header>
  <ion-toolbar>
    <ion-img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/aa/Logo_DuocUC.svg/2560px-Logo_DuocUC.svg.png"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="ion-padding-vertical">
  <ion-card class="ion-text-center ion-padding-vertical">

    <ion-card-title class="ion-text-center">
      <ion-label>
        <h2>¡Ingrese su correo!</h2>
      </ion-label>
    </ion-card-title>

    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Correo</ion-label>
          <ion-card-subtitle></ion-card-subtitle>
          <ion-input type="text" [(ngModel)]="correo" placeholder="Example@gmail.com"></ion-input>
          <!-- <a (click)="ingresarPaginaValidarRespuestaSecreta()">Recuperar contraseña</a> -->
      </ion-item>
      <br><br>
      <ion-button shape="block" (click)="ingresarPaginaValidarRespuestaSecreta()">Recuperar contraseña</ion-button>
    </ion-card-content>
  </ion-card>
</div>
</ion-content>

<ion-footer>
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/login']">Volver</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer> 